/* TODO: Нужно будет тоже скачать по примеру с press-start. */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('./fonts/press-start.css');

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #121212;
}

html,
body {
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
}
