
.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  border-radius: 6px;
  border: none;
  transition: all 0.2s ease;
  cursor: pointer;
}

.retro {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 2px solid var(--color-primary);
  box-shadow: 4px 4px var(--color-primary);
  font-weight: 600;
}

.retro:hover {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px var(--color-primary);
}

.retro.active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px var(--color-primary);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
